.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 9vh;
    bottom: 0;
    
}